.env
.git
.gitignore
node_modules
Doc
.tmp*
compose.yml
docker-compose.yml
package-lock.json
README.md
README_zh.md
README_jp.md
!README.md
!README_zh.md
!README_jp.md
users_images/**
knowledge_base/uploads/**
knowledge_base/ingested_markdown/**
data/**
services
